<!DOCTYPE html>
<html>
  <head>
    <title>LxApp</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= action_cable_meta_tag %>
    
  </head>

  <body>
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav_container">
        <div class="projectName navbar-brand">
          <%= link_to('Bike', static_pages_landing_page_path) %>
        </div> <!--end projectName -->
        <div class="navbar-collapse collapse">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Home', '/static_pages/landing_page' %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'About', '/static_pages/about' %></li>
              <li><%= link_to 'Contact', '/static_pages/contact' %></li>
            </ul>
          </nav>
        </div>
    </div><!-- container end-->
  </nav>
  
    <%= yield %>

  <footer>
      <div class="copyright col-md-12">
          <span class="copyright">Copyright &copy; Bike Xin Li, 2016</span>
      </div>
  </footer><!--Footer End-->

  </body>
  <!-- Bootstrap core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</html>